@charset "utf-8";*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,
*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, figure{margin:0;padding:0;}
html,body{color:#4e4e4e;font-weight:normal;word-wrap:break-word;font-family:Arial, Helvetica, sans-serif;font-size:14px;line-height:1.42857143;background:#fff;-webkit-overflow-scrolling:touch;}
html{position:relative;min-height:100%;}
a{color:#5ea61d;text-decoration:none;outline:none;}
a:hover{color:#4cabd8;text-decoration:none;}
img, a img{border:none;}
input, textarea, select, button{outline:none;font-size:1em;font-family:Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5{line-height:normal;}
h1{font-size:1.35em;}
h2{font-size:1.3em;}
h3{font-size:1.2em;}
h4{font-size:1.2em;}
h5{font-size:1.1em;}
hr{margin-top:10px;margin-bottom:10px;border:0;border-top:1px solid #eee;}
table{border-collapse:collapse;border-spacing:0;}
.reset, .reset li{list-style:none;padding:0;margin:0;}
.reset.reset-user-rating{width:130px;}
#user_rating.static-rating, .stars .news-rating, .stars .feedback-rating, .stars .faq-rating, .stars .content-rating{width:130px !important;}
.clr{clear:both;}
.dpad{padding:10px;}
.sline .dpad{padding-bottom:0;}
.hiden{overflow:hidden;display:block;height:0;line-height:normal;}
.lcol{float:left;}
.rcol{float:right;}
.wwide{width:100%;}
p{margin-bottom:10px;}
.clearfix:before,
.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}
input[type="submit"]{-webkit-appearance:button;}

.bradius{border-radius:5px;-webkit-border-radius:5px;}
.btngreen{background:#003baf;color:#fff;border:1px solid transparent;}
.btngreen:hover{background:#003baf;color:#fff;}
.btnblue{background:#4cabd8;color:#fff;border:1px solid transparent;}
.btnblue:hover{background:#2891c8;color:#fff;}
.btnred{background:#dd5353;color:#fff;border:1px solid transparent;text-decoration:none;}
.btnred:hover{background:#d74545;color:#fff;}
.btnblue:focus, .btngreen:focus, .btnred:focus{box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.25);-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.25);}
.wrapp{width:auto;padding:0 10px;padding-top:44px;}
.app-btm,
.short .dtitle,
.top-free .app-title,
.drline .appdown-tags,
.app-fea,
.app-full .info-rside .dtitle,
.cominf b{position:relative;white-space:nowrap;overflow:hidden;}
.app-btm:after,
.short .dtitle:after,
.top-free .app-title:after,
.drline .appdown-tags:after,
.app-fea:after,
.app-full .info-rside .dtitle:after,
.cominf b:after{content:"";width:60px;height:100%;position:absolute;top:0;right:0;background:-webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);background:linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);}
.cats-box:before,
.cats-box:after{display:table;content:"";}
.cats-box:after{clear:both;}
.mobileshow{display:block !important;}
.mobilehide{display:none !important;}
.hide{display:none;}


.h2 {
font-size: 50pt;
}
.example1 {
padding-top:80px;
width:100px;
padding-left:13px;
height:100px;
background-image:url("host.png");

/*оформление текста*/
color:#fff;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
}
Результат:
.example3 {
display:inline-block;
position:relative;
}
.example3 .example_text {
display:block;
position:absolute;
left:0;
bottom:0;
width:70%;
box-sizing:border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;

color:#fff;

padding:10px;
background-color:rgba(0,0,0,.3);


}
.example3 h6 {
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
}
.example3 span {
font-size:12px;
}



.ser {
width:36px;
height:36px;
border-radius:17px;
background:url("send.png");
color:#fff;
font-size:18px;
cursor:pointer;
}

.superbutto {
width:100px;
height:30px;
border-radius:17px;
background:url("search.png");
color:#fff;
font-size:18px;
cursor:pointer;
}

.superbutton {
width:100px;
height:30px;
border-radius:17px;
background:#459DE5;
color:#fff;
font-size:18px;
cursor:pointer;
}

.modalDialog {
position: fixed;
font-family: Arial, Helvetica, sans-serif;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0,0,0,0.8);
z-index: 99999;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
display: none;
pointer-events: none;
}

.modalDialog {
position: fixed;
font-family: Arial, Helvetica, sans-serif;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: rgba(0,0,0,0.8);
z-index: 99999;
-webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
display: none;
pointer-events: none;
}

.modalDialog:target {
display: block;
pointer-events: auto;
}

.modalDialog > div {
width: 250px;
position: relative;
margin: 10% auto;
padding: 5px 20px 13px 20px;
border-radius: 10px;
background: #fff;
background: -moz-linear-gradient(#fff, #999);
background: -webkit-linear-gradient(#fff, #999);
background: -o-linear-gradient(#fff, #999);
}

.close {
background: #606061;
color: #FFFFFF;
line-height: 25px;
position: absolute;
right: -12px;
text-align: center;
top: -10px;
width: 24px;
text-decoration: none;
font-weight: bold;
-webkit-border-radius: 12px;
-moz-border-radius: 12px;
border-radius: 12px;
-moz-box-shadow: 1px 1px 3px #000;
-webkit-box-shadow: 1px 1px 3px #000;
box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
#header{height:54px;background:#003baf;position:absolute;top:0;left:0;right:0;height:44px;-webkit-border-radius:0;border-radius:0;z-index:1040;}
#header .dright{height:100%;width:100%;}
#header .dleft{}
.logo{background:url("jar.png") no-repeat 50%;background-size:138px 19px;height:44px;position:absolute;left:15%;right:15%;top:0;text-indent:-99999px;overflow:hidden;}
.sidebar-toggle{position:absolute;padding:13px 10px;background:none;border:none;cursor:pointer;outline:none;height:44px;min-width:10%;}
.sidebar-toggle:focus{outline:0;}
.sidebar-toggle .icon-bar{display:block;width:24px;height:3px;background-color:#fff;}
.sidebar-toggle .icon-bar + .icon-bar{margin-top:4px;}
.search-toggle{position:absolute;padding:10px 10px;background:none;border:none;cursor:pointer;outline:none;right:0;top:0;height:44px;min-width:10%;}
.search-toggle .icon-search{background:url("ic_search_w.svg") no-repeat;float:right;background-size:24px 24px;width:24px;height:24px;display:block;position:relative;overflow:hidden;}
.search-toggle.active .icon-search{background:none;overflow:hidden;}
.search-toggle.active .icon-search:before,
.search-toggle.active .icon-search:after{content:'';position:absolute;height:3px;width:100%;top:50%;left:0;margin-top:-2px;background:#fff;}
.search-toggle.active .icon-search:before{-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.search-toggle.active .icon-search:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}


.end-toggle{position:absolute;padding:10px 10px;background:none;border:none;cursor:pointer;outline:none;right:0;top:0;height:44px;min-width:10%;}
.end-toggle .end-search{background:url("35489w.svg") no-repeat;float:right;background-size:24px 24px;width:24px;height:24px;display:block;position:relative;overflow:hidden;}
.end-toggle.active .end-search{background:none;overflow:hidden;}
.end-toggle.active .end-search:before,
.end-toggle.active .end-search:after{content:'';position:absolute;height:3px;width:100%;top:50%;left:0;margin-top:-2px;background:#fff;}
.end-toggle.active .end-search:before{-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.end-toggle.active .end-search:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}

.mainlogin{margin-top:15px;float:none;}
.mainlogin .dtitle{font-size:16px;border-bottom:2px solid #66ae25;padding-bottom:10px;}
.mainlogin .dcont{padding-top:10px;}
.mainlogin .linklost{text-align:center;padding-top:10px;}
.mainlogin .linklost a{color:#888;border-bottom:1px dashed #888;text-decoration:none;}
.mainlogin .linklost a:hover{color:#4e4e4e;}
.altlogin{margin-top:20px;float:none;}
.altlogin .dtitle{font-size:16px;border-bottom:2px solid #66ae25;padding-bottom:10px;}
.alt-list{padding-top:10px;}
.alt-list a{display:block;height:36px;overflow:hidden;width:100%;-webkit-border-radius:3px;border-radius:3px;border:1px solid #c4c4c4;background-color:#f8f8f8;line-height:34px;text-align:center;color:inherit;}
.alt-list a span{display:none;}
.alt-list a:before,
.alt-list a:after{content:"";display:inline-block;height:24px;background:url("alt-login.png") no-repeat;background-size:cover;margin-right:5px;margin-left:5px;vertical-align:middle;position:relative;top:-2px;}
.alt-list .altvk,
.alt-list .regvk{background-color:#507299;border-color:transparent;color:#fff;}
.alt-list .altvk:before,
.alt-list .regvk:before{width:24px;}
.alt-list .altodd,
.alt-list .regodd{background-color:#ee8208;border-color:transparent;color:#fff;}
.alt-list .altodd:before,
.alt-list .regodd:before{width:24px;background-position:-24px 0;}
.alt-list .altya:after,
.alt-list .regya:after{width:50px;background-position:-48px 0;}
.alt-list .altgoo:after,
.alt-list .reggoo:after{width:61px;background-position:-98px 0;}
.alt-list .alttwit:after,
.alt-list .regtwit:after{width:70px;background-position:-159px 0;}
.alt-list .altmail:after,
.alt-list .regmail:after{width:56px;background-position:-229px 0;}
.alt-list li{padding-top:8px;}
.alt-list li ul{display:none;}
.alt-list li:nth-child(5){padding-top:0;}
.alt-list a:hover{opacity:1;filter:alpha(opacity=100);}
.allalt{padding-top:10px;text-align:center;}
.allalt a{color:#888;border-bottom:1px dashed #888;text-decoration:none;}
.allalt a:hover{color:#4e4e4e;}
.reg-result{font-size:17px;padding-bottom:5px;font-weight:normal;color:#333;}
.reg-error{padding-top:4px;font-size:0.9em;}
.reg-error a{color:#888;border-bottom:1px dashed #888;text-decoration:none;}
.reg-error a:hover{color:#4e4e4e;}
.r-error-list{padding:8px 12px;background:#f0f0f0;margin-top:15px;}
.r-error-list li{padding:2px 0;list-style-type:circle;margin-left:12px;}
#header .lbox{display:none;}
#user-dd-link{font-weight:bold;color:#555;}
.lbox #dropdown,
.subnavi #dropdown{display:block !important;}
.lbox .tlog,
.lbox .tlog:hover,
.lbox .tlog:focus{border:none;box-shadow:none;}
.popoverlay{background:#000;}
.window,
.window2,
.window3,
.window4{display:none;position:fixed;top:50%;left:0%;width:100%;-webkit-transform:translate(0,-50%);transform:translate(0,-50%);}
.popup{background-color:#fff;margin:10px;-webkit-border-radius:4px;border-radius:4px;}
.popup .heading{background-color:#003baf;height:42px;-webkit-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;padding:0 12px;}
.popup .dcont{padding:15px 0;}
#profform .dcont{padding:15px;}
.popup .dtitle{float:left;display:block;line-height:42px;color:#fff;font-size:1.4em;text-shadow:1px 1px 0 #50a01f;}
.popclose{height:24px;width:24px;display:block;float:right;margin-top:9px;position:relative;}
.popclose img{display:none;}
.popclose:before,
.popclose:after{content:'';position:absolute;height:3px;width:100%;top:50%;left:0;margin-top:-2px;background:#fff;}
.popclose:before{-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.popclose:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.inputline,
.inputline3{padding:5px 0 0;}
.inputline3{padding-bottom:10px;}
.inputline .label,
.inputline3 .label{display:block;padding-bottom:5px;}
.inputline .f_input,
.inputline3 .f_input,
.inputline .f_select, .contact-form input[type="text"],
.contact-form select,
.contact-form textarea{width:100%;}
.inputline .f_input { width:100% !important; }
.lform-btns{padding:10px 0 0;}
.lbtn,
.lostbtn,
.app-sbtn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:normal;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;-webkit-border-radius:3px;border-radius:3px;display:block;width:100% !important;}
.otherlogin{padding-top:15px;border-top:1px solid #d7d3cf;font-size:0.9em;}
.otherlogin ul{float:left;width:50%;}
.otherlogin li{padding:0 15px;}
.otherlogin a{color:#606060;text-decoration:none;}
.otherlogin a:hover{color:#2f96cb;}
.otherlogin .dtitle2{display:block;padding-left:15px;color:#5ea61d;}
.inputline2{padding:5px 15px;}
.inputline2 .f_input{width:200px;}
.lform-btns2{padding:15px 15px;}
.greybg-reg{background:#f5f6f7;padding:10px;margin:5px 15px 15px 15px;font-size:0.9em;}
.greybg-reg .lbtn{float:none;display:inline-block;line-height:24px;margin-top:5px;font-size:1.4em;padding:0 17px;}
.reg-btm{padding:0 15px 15px 15px;font-weight:bold;color:#696969;font-size:0.9em;}
.popup .dcont2{padding:15px;}
.greybg-lost{font-size:12px;color:#888;}
#panel-lostpass{margin-top:20px;border:1px solid #003baf;padding:10px;-webkit-border-radius:4px;border-radius:4px;}
.inputcapcha{padding-left:60px;}
.inputcapcha img{float:left;margin-left:-60px;}
.inputcapcha input{width:100% !important;}
[for="id_tos"]{text-align:right;display:block;padding-top:10px;}
#id_tos{display:none;}
#id_tos + .check{display:inline-block;width:24px;height:24px;border:1px solid #ccc;-webkit-border-radius:3px;border-radius:3px;vertical-align:middle;margin-left:5px;cursor:pointer;}
#id_tos:checked + .check{background:#5cacda url("ic_check.svg") no-repeat 50% 50%;border-color:#5cacda;}
.sbox{padding:5px 10px;background-color:#f8f8f8;position:absolute;left:0;top:44px;right:0;z-index:100;box-shadow:0 10px 10px rgba(0,0,0,.25);display:none;}
.sbox .sbl{padding:0 80px 0 0;height:100%;position:relative;}
.sbox .sinput{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555555;background-color:#ffffff;background-image:none;border:1px solid #cccccc;-webkit-border-radius:4px;border-radius:4px;}
.sbox.open{display:block !important;}
.sbox .sinput::-moz-placeholder{opacity:0;}
.sbox .sinput:-ms-input-placeholder{opacity:0;}
.sbox .sinput::-webkit-input-placeholder{opacity:0;}
.sbtn{position:absolute;right:0;top:0;white-space:nowrap;padding:5px 12px;font-size:16px;line-height:1.375;-webkit-border-radius:4px;border-radius:4px;border:1px solid transparent;cursor:pointer;}
.sbtn{background:#4cabd8;color:#fff;border:1px solid transparent;}
.sbtn:hover{background:#2891c8;color:#fff;}
#contain{width:100%;}
.wwideline{padding:0 0 20px 0;}
.lside{position:absolute;top:0;left:0;width:80%;height:100%;background-color:#fff;z-index:1050;-webkit-transform:translate(-100%,0);transform:translate(-100%,0);overflow-y:auto;display:none;-webkit-overflow-scrolling:touch;}
.lside-open{overflow:hidden;position:fixed;left:0;top:0;right:0;bottom:0;-webkit-overflow-scrolling:auto;}
.lside-open body{-webkit-transform:translate(80%,0);transform:translate(80%,0);}
.lside-open .lside{display:block;}
.lside-backdrop{position:fixed;left:0;top:0;right:0;bottom:0;background:rgba(0,0,0,.2);z-index:1000;display:none;}
.lside-open .lside-backdrop{display:block;}
.rside{display:none;}
.block{width:100%;margin-top:15px}
.block .dtop{background:#003baf;height:44px;}
.block .dcont{padding:0;}
.block .dtitle{font-weight:normal;float:left;font-size:18px;line-height:44px;padding-left:40px;color:#fff;position:relative;}
.block .dtitle:after{background:url("icd_title.svg") no-repeat;position:absolute;left:10px;top:12px;width:20px;height:20px;content:""}
#sliding-c{display:none;}
.top-spis li, .bhelp li{border-bottom:1px solid #e9ebec;}
.top-spis li a, .bhelp li a{padding:0 10px;line-height:42px;display:block;color:#484848;text-decoration:none;font-size:16px;}
.top-spis li a:hover, .bhelp li a:hover{color:#484848;background-color:#f5f6f7;background-position:188px 0;}
.sliding{display:block;line-height:42px;padding:0 10px;color:#484848;text-decoration:none;text-align:center;border-bottom:1px solid #e9ebec;}
.sliding:after{content:"";width:12px;height:7px;display:inline-block;margin-left:5px;background:url("ic_arrow2_g.svg") no-repeat;}
.sliding.opened:after{-webkit-transform:scale(-1);transform:scale(-1);}
.sliding:hover{color:#484848;background-color:#e9ebec;}
#sliding-a, #sliding-b, #sliding-b2, #sliding-b3{display:none;}
.top-free .dtitle:after{background-position:-60px 0;width:26px;}
.top-free li{border-bottom:1px solid #e9ebec;}
.top-free li a{height:44px;padding:0 10px 0 50px;color:#484848;text-decoration:none;position:relative;font-size:16px;line-height:44px;white-space:nowrap;display:block;}
.top-free li a:hover{color:#484848;background-color:#f5f5f5;}
.top-free .app-img{width:32px;height:32px;margin-top:6px;-webkit-border-radius:4px;border-radius:4px;position:absolute;top:0;left:10px;line-height:1;}
.top-free .app-title{display:block;overflow:hidden;}
.top-free a:hover .app-title:after{background:-webkit-linear-gradient(left, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%);background:linear-gradient(to right, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%);}
.app-like{display:none;}
.btopapp .dtitle:after{background-position:-86px 0;width:20px;}
.brecom .dtitle:after{background-position:-20px 0;width:20px;}
.btopapp .app-cat,
.top-free .app-like{display:none}
.bhelp .dtitle:after{background-position:-40px 0;}
.bhelp .dcont{padding-bottom:4px;}
.app-search{display:none;}
.bphone{display:none;}
.naviblock{width:100%;padding-top:0;}
.naviblock li{position:relative;border-bottom:1px solid #e9ebec;}
.naviblock a{padding-left:44px;line-height:44px;display:block;text-decoration:none;color:#484848;font-size:18px;}
.naviblock a:hover{background-color:#f5f6f7;}
.naviblock .navimg{position:absolute;height:24px;width:24px;top:10px;left:10px;background:-webkit-linear-gradient(-45deg, rgba(105,191,222,1) 0%,rgba(49,151,203,1) 100%);background:linear-gradient(135deg, rgba(105,191,222,1) 0%,rgba(49,151,203,1) 100%);-webkit-border-radius:5px;border-radius:5px;}
.naviblock .navimg:after{content:"";position:absolute;left:5px;top:4px;width:16px;height:16px;background:url("ic_nav.svg") no-repeat;}
.naviblock .navimg.active{background:-webkit-linear-gradient(-45deg, rgba(120,191,55,1) 0%,rgba(97,169,32,1) 100%);background:linear-gradient(135deg, rgba(120,191,55,1) 0%,rgba(97,169,32,1) 100%);}
.naviblock .adm, .naviblock .sublink{position:absolute;top:50%;right:10px;margin-top:-12px;line-height:20px;padding:2px 8px;font-weight:normal;font-size:14px;color:#fff;-webkit-border-radius:5px;border-radius:5px;height:24px;}
.naviblock .adm .hiden,
.naviblock .sublink .hiden{font-weight:normal;overflow:visible;display:block;height:auto;line-height:normal;}
.naviblock .adm,
.naviblock .adm:hover,
.naviblock .adm:focus{background-color:#dd5353;}
.naviblock .sublink{width:24px;font-size:0;background-color:#76bd35;}
.naviblock .sublink:hover,
.naviblock .sublink:focus{background-color:#76bd35;}
.naviblock .sublink:before,
.naviblock .sublink:after{content:"";position:absolute;left:50%;top:50%;background-color:#fff;}
.naviblock .sublink:before{width:16px;height:2px;margin:-1px 0 0 -8px;}
.naviblock .sublink:after{width:2px;height:16px;margin:-8px 0 0 -1px;}
.naviblock .ic-game:after{background-position:-16px 0;}
.naviblock .ic-prog:after{background-position:-32px 0;}
.naviblock .ic-theme:after{background-position:-48px 0;}
.naviblock .ic-news:after{background-position:-64px 0;}
.naviblock .ic-cat:after{background-position:-80px 0;}
.naviblock .ic-user:after{background-position:-96px 0;}
.subnavi{padding:10px 15px;background:-webkit-linear-gradient(top, rgba(229,229,229,1) 0%,rgba(248,248,248,1) 100%);background:linear-gradient(to bottom, rgba(229,229,229,1) 0%,rgba(248,248,248,1) 100%);background-color:#f8f8f8;background-repeat:repeat-x;background-size:100% 15px;}
.subnavi a{display:block;background:none;color:#888;line-height:38px;text-decoration:none;font-size:16px;}
.subnavi a:hover,
.subnavi a:focus{color:#555 !important;background:none !important;}
.seblock-main{padding:10px 0 0;font-size:0.9em;color:#767676;display:none}
.seblock-main .dtitle{display:block;color:#484848;}
.seblock-main p{padding:5px 0;}
.blink{text-align:right;}
.blink .m-sliding{background:url("ic_arrow2_g.svg") no-repeat 0 50%;padding-left:10px;color:#767676;text-decoration:none;}
.blink .m-sliding:hover{color:#61a820;}
.sb-b-1{float:left;width:100%;border-top:1px solid #e9ebec;margin-top:10px;padding-top:10px;}
.sb-b-2{float:right;width:100%;border-top:1px solid #e9ebec;margin-top:10px;padding-top:10px;}
.seblock-main h1.dtitle{font-size:18px;font-weight:normal;}
.seblock-main h2.dtitle{font-size:16px;font-weight:normal;}
.seblock-main2{margin-top:20px;border:1px solid #e9e9e9;font-size:0.9em;color:#767676;-webkit-border-radius:8px;border-radius:8px;padding:12px 15px;}
.seblock-main2 .dtitle{display:block;font-size:1.8em;color:#484848;padding-bottom:2px;}
.seblock-main2 p{padding:5px 0;}
.sliderbox{display:none;}
.maintabs{margin:0 -10px;padding:10px;background:#f5f5f5;}
.maintabs ul{display:table;width:100%;}
.maintabs li{display:table-cell;text-align:center;}
.maintabs li a{padding:2px 8px;display:block;color:#484848;text-decoration:none;font-size:13px;-webkit-border-radius:3px;border-radius:3px;white-space:nowrap;}
.maintabs li a:hover{color:#5ea61d;}
.maintabs .current a,
.maintabs .current a:hover,
.maintabs .current a:focus{background-color:#003baf;color:#fff;}
@media(min-width:460px){.maintabs ul{table-layout:fixed;}
}
.cats-box{margin:0 -10px;padding:0 10px 40px 10px;background:#f5f5f5; }
.box-search {margin:0 -10px;padding:0 10px 0 10px;background:#f5f5f5; min-height:46px;}
.cats-box-small{ padding-bottom:0; }
#catbox .f_select{border-color:#003baf;-webkit-box-shadow:none;box-shadow:none;}
.gamecats,
.phone-cats{position:absolute;left:0;top:0;width:100%;height:100%;max-height:100%;background-color:#fff;z-index:1050;overflow-y:auto;display:none;-webkit-overflow-scrolling:touch;}
.gamecats li,
.phone-cats li{border-bottom:1px solid #eee;}
.gamecats li a,
.phone-cats li a{line-height:24px;display:block;padding:10px;font-size:18px;color:inherit;}
.gamecats li a:hover,
.phone-cats li a:hover{background-color:#f5f5f5;}
.gamecats li .current,
.gamecats li .current:hover,
.phone-cats li .current,
.phone-cats li .current:hover{background-color:#003baf;color:#fff;}
.cat-open,
.cusel-open{overflow:hidden;overflow:hidden;position:fixed;left:0;top:0;right:0;bottom:0;-webkit-overflow-scrolling:auto;}
.cat-toggle{text-align:left;display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #003baf;-webkit-border-radius:4px;border-radius:4px;margin-bottom:10px;cursor:pointer;-webkit-appearance:none;-moz-appearance:none;appearance:none;background:#fff url("ic_arrow2_g.svg") no-repeat 98% 50%;}
@media(min-width:600px){.cat-toggle{background-position:99% 50%;}
}
.cat-open .cat-toggle{position:fixed;top:5px;right:5px;z-index:1060;font-size:0;padding:0;border:none;width:28px;height:28px;margin:0;-webkit-border-radius:0;border-radius:0;background:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.cat-open .cat-toggle:before,
.cat-open .cat-toggle:after{content:'';position:absolute;height:3px;width:100%;top:50%;left:0;margin-top:-2px;background:#888;}
.cat-open .cat-toggle:before{-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.cat-open .cat-toggle:after{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.pagenavi{margin-top:25px;text-align:center;padding-top:90px;position:relative;}
.no-active{opacity:0.5;color:rgb(108, 108, 108)}
.pprew, .pnext{position:absolute;top:0;left:0;right:0;}
.pnext{top:40px;}
.pprew b, .pnext b{font-weight:normal;}
.pprew a, .pnext a, .pprew span, .pnext span{padding:5px 8px;display:block;-webkit-border-radius:3px;border-radius:3px;-webkit-border-radius:3px;color:rgb(78, 78, 78);line-height:1.42857143;font-size:16px;width:100%;background-color:#eee;text-decoration:none;}
.pprew a, .pnext a{color:#4e4e4e;}
.pprew a:hover, .pnext a:hover{text-decoration:none;background-color:#e4e4e4;}
.pprew img, .pnext img{vertical-align:middle;background:url("ic_arrow_p.svg") no-repeat;width:18px;height:12px;margin-left:4px;}
.pprew img{background-position:0 100%;}
.pprew img{margin-right:5px;-webkit-transform:scale(-1);transform:scale(-1);}
.pages{display:block;}
.pages a, .pages span{padding:4px 6px;color:#484848;font-size:18px;text-decoration:none;-webkit-border-radius:3px;border-radius:3px;display:inline-block;vertical-align:middle;margin:0 2px;}
.pages span{background:#003baf;color:#fff;}
.pages a:hover{background:#003baf;color:#fff;}
.pages a:focus{background:#4cabd8;color:#fff;}
.short{padding:15px 10px 15px;margin:0 -10px;border-radius:17px;border-bottom:1px solid #003baf;}
.short .heading li{margin-bottom:5px;border-radius:17px;font-size:13px;}
.short .app-img{float:left;width:64px;height:64px;-webkit-border-radius:3px;border-radius:3px;}
.short .app-rate{float:right;}
.short p{margin-bottom:0;}
.nnews .heading{position:relative;}
.nnews .heading:after,
.fpage .heading:after{width:48px;height:48px;background:url("news.svg") no-repeat 50% 50%;position:absolute;left:0;top:2px;position:absolute;-webkit-border-radius:3px;border-radius:3px;content:"";}
.sfaq .heading:after,
.fpage .sfaq .heading:after{background-image:url("faq.svg");}
.fpage .short{padding-bottom:0;border-bottom:none;}
.nnews .app-img,
.sfaq .app-img,
.fpage .app-img{display:none;}
.short .app-rate .nums{color:#003baf;font-size:0;height:0;margin:0;padding:0;}
.short .app-rate .nums .rnum,
.short .app-rate .nums .vnum{font-size:14px;font-weight:normal;line-height:18px;}
.short .app-rate .nums .rnum{font-size:20px;display:block;color:#003baf;position:absolute;left:0;top:24px;}
.short .app-rate .nums .vnum{position:absolute;top:24px;left:148px;}
.short .app-rate .nums .vnum:before{content:"(";}
.short .app-rate .nums .vnum:after{content:")";}
.short .app-rate .nums span{font-size:14px;position:absolute;left:0;top:4px;}
.short .app-rate .stars{margin-left:32px;margin-top:16px;position:relative;top:8px;}
.short .app-info{margin:0 0 0 80px;}
.short .app-info a{color:#003baf;text-decoration:none;}
.short .app-info a:hover{color:#003baf;}
.short .dtitle{font-size:16px;font-weight:normal;position:relative;display:block;color:#003baf;}
.short .dtitle a{color:#003baf;}
.short .app-info ul{font-size:0.9em;line-height:13px;padding-top:8px;color:#003baf;}
.short .app-info ul a{color:#003baf;}
.short .dcont{padding:12px 0 0;}
.short .dcont img{max-width:100%;}
.shortbtm{padding:0;overflow:hidden;}
.shortbtm2{padding:0 0 0;}
.image-wrapper{margin-bottom:5px;}
.image-wrapper .thumbs{display:block;float:left;overflow:hidden;margin-bottom:5px;}
.image-wrapper .thumbs:not(.m_thumbs){height:120px !important;}
.image-wrapper .m_thumbs img{width:auto !important;height:100px !important;max-width:100%;max-height:100%;}
.shortdown{padding:5px 12px;margin-bottom:0;font-size:16px;font-weight:normal;line-height:1.375;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;-webkit-border-radius:3px;border-radius:3px;display:block;width:100%;background-color:#003baf;text-decoration:none;}
.shortdown b{font-weight:normal;}
.app-btm{padding-top:5px;margin-bottom:10px;}
.app-btm .lcol{margin-right:2px;padding:4px 0;line-height:1;float:none;display:inline-block;vertical-align:top;}
.app-btm span.lcol{margin-right:10px;}
.app-btm a.lcol{color:#fff;text-decoration:none;-webkit-border-radius:3px;border-radius:3px;padding:4px 8px;background-color:#003baf;}
.app-btm a:hover{background:#003baf;color:#fff;}
.short.nnews .app-rate{display:none;}
.short.nnews .dcont img{max-width:100%;height:auto;}
.short.nnews .app-img{width:48px;height:48px;}
.short.nnews .app-info{margin:0 0 0 60px;padding-top:2px;}
.nnews .dcont{padding-bottom:15px;}
.nnews .shortdown{margin-top:0px;padding-right:12px;}
.nnews-related{margin-top:10px;}
.nnews-related .nnrel-heading{}
.nnews-related .nnrel-all{height:24px;display:block;padding:0 8px;line-height:24px;background:#aaa;-webkit-border-radius:4px;border-radius:4px;float:right;color:#fff;}
.nnrel-title{font-size:20px;font-weight:normal;}
.nnews-related:before,
.nnews-related:after{content:"";display:table;}
.nnews-related:after{clear:both;}
.nnews-related ul{padding-top:20px;}
.nnews-related li{float:left;width:50%;padding-right:10px;padding-top:5px;padding-bottom:5px;}
.nnews-related li img{width:100%;height:auto;-webkit-border-radius:3px;border-radius:3px;}
.nnews-related li a{display:block;overflow:hidden;position:relative;color:inherit;}
.nnews-related li a s pan{display:block;height:50px;overflow:hidden;display:block;text-decoration:none;line-height:20px;padding-top:10px;}
.nnrel-a{padding-top:0px;}
.nnrel-b{padding-top:25px;}
@media(min-width:550px){.nnews-related li{width:25%;}
}
.fpage img{max-width:100%;height:auto;}
.quest-wrap{border-bottom:1px solid #ddd;padding:0 0 10px;margin-top:10px;}
.quest-body{padding:5px 0 0 25px;}
.quest-head{padding-left:25px;background:url("ic_question.svg") no-repeat 0 2px;font-size:16px;}
.quest-box{padding:15px 0 5px 0;}
.quest-box .dtitle{font-size:22px;display:block;margin-bottom:15px;font-weight:normal;margin-top:0;}
.quest-box a{color:#003baf;text-decoration:none;}
.quest-box > p{display:none;}
.quest-box table{width:100%;}
.quest-box table td{padding-right:0 !important;}
.quest-box textarea{min-height:95px;}
.nsoc-box{padding:10px 0 0 0;text-align:center;}
.appupd{display:none}
.fpage .app-img{width:48px;height:48px;}
.fpage .app-info{margin:0 0 0 60px;padding-top:2px;}
.fpage .app-rate{position:absolute;left:0;right:0;bottom:10px;border-top:1px solid #e4e4e4;padding-left:0;margin-left:0;width:100% !important;min-height:40px;}
.fpage .app-rate .category-score{text-align:left;}
.fpage .heading{padding-bottom:55px;border-bottom:1px solid #e4e4e4;margin-bottom:10px;position:relative;}
.fpage h1.single-title{margin-top:15px;}
.fhsare{text-align:center;margin-top:15px;}
.app-full{margin-top:15px;position:relative;}
.app-full .info-lside{width:auto;}
.app-left-grey{padding:0;text-align:left; }
.app-ful-img{width:64px;height:64px;margin-bottom:10px;float:left;}
.app-ful-img img{width64px;height:64px;-webkit-border-radius:4px;border-radius:4px;}
.app-l-down{clear:both;}
.app-l-down a{font-size:16px;display:block;width:145px;padding:5px 12px;text-decoration:none;border-radius:3px;-webkit-border-radius:3px;margin-bottom:10px;text-align:center;line-height:22px;}
.app-l-down a b{font-weight:normal;display:block;}
.app-l-down a b:before{content:"";width:14px;height:15px;display:inline-block;vertical-align:top;margin-right:5px;background:url("ic_download.svg");position:relative;top:2px;opacity:.5;}
.app-date{font-size:12px;color:#888;display:block !important;overflow:hidden;margin-top:3px;}
.vk-like-wrap{position:absolute;left:155px;top:80px; width:145px; overflow:hidden; }
.toinstall-help a{padding:2px 12px;background:#f5f6f7;-webkit-border-radius:3px;border-radius:3px;text-align:center;text-decoration:none;color:#4e4e4e;display:block;line-height:30px;}
.toinstall-help b{font-weight:normal;}
.toinstall-help a:hover{background:#e9ebec;}
.toinstall-help b:before{content:"";width:16px;height:16px;display:inline-block;margin-right:5px;background:url("ic_question_gr.svg") no-repeat;vertical-align:top;position:relative;top:6px;}
.app-full .info-lside ul{margin-top:5px;border-top:1px solid #e9ebec;}
.app-full .info-lside ul + ul{margin-top:0;border-top:none;}
.app-full .info-lside .toinstall-help + ul{border-top:0;margin-top:1px;}
.app-full .info-lside li{padding:4px 1px;border-bottom:1px solid #e9ebec;}
.app-full .info-lside li:before,
.app-full .info-lside li:after{content:"";display:table;}
.app-full .info-lside li:after{clear:both;}

.app-full .info-lside li.features-show-hide { padding:0; }
.app-full .info-lside li.features-show-hide a{display:block;line-height:36px;padding:0 10px;color:#484848;text-decoration:none;text-align:center;}
.app-full .info-lside li.features-show-hide a:after{content:"";width:12px;height:7px;display:inline-block;margin-left:5px;background:url("ic_arrow2_g.svg") no-repeat;}
.app-full .info-lside li.features-show-hide a.opened:after{-webkit-transform:scale(-1);transform:scale(-1);}
.app-full .info-lside li.features-show-hide a:hover{color:#484848;background-color:#e9ebec;}


.app-full .info-lside li.hiden-li{display:none;}
.app-full .info-rside .dtitle{display:block;font-size:17px;font-weight:normal;color:#5ea61d;line-height:20px;max-height:40px;overflow:hidden;white-space:normal;}
.app-full .app-haed {position:absolute;top:0;left:80px; right:0; }
/*.app-full .info-rside .dtitle:after{top:20px;height:20px;}*/
.app-full .info-rside .dcont{padding:15px 0 0 0;}
.app-fea{margin-top:10px;max-height:50px;overflow:hidden;white-space:normal;}
.app-fea .lcol{margin-right:2px;padding:4px 0;line-height:1;float:none;display:inline-block;vertical-align:top;}
.app-fea span.lcol{margin-right:10px;}
.app-fea a.lcol{color:#fff;text-decoration:none;-webkit-border-radius:3px;border-radius:3px;padding:4px 8px;background-color:#4cabd8;margin:2px 2px 2px 0;}
.app-fea a.lcol:hover{background:#2891c8;color:#fff;}
.app-fea:after{top:28px;height:24px;}
.screen-slider{margin:25px 0 8px 0;position:relative;}
.screen-slider .galwrap{overflow:hidden;max-width:100%;margin:0 20px;}
.screen-gal li{height:104px;width:145px;border:1px solid #e9ebec;margin:0 6px 0 6px;padding:1px;}
.screen-gal li a{opacity:0.8;filter:alpha(opacity=80);}
.screen-gal li a:hover{opacity:1;filter:alpha(opacity=100);}
.screen-slider img{height:auto;width:100%;}
.screen-slider .owl-next,
.screen-slider .owl-prev{width:28px;top:0;bottom:0;left:0;background:rgba(255,255,255,.55) url("ic_arrow_gr.svg") no-repeat 50% 50%;position:absolute;font-size:0;}
.screen-slider .owl-next{left:auto;right:0;-webkit-transform:scale(-1);transform:scale(-1);will-change:transform;}
.screen-slider .disabled{display:none;}
.gprev2, .gnext2{position:absolute;width:13px;height:19px;background:url(top-android.org/static/img/slarrow.png") no-repeat;top:70px;display:block;cursor:pointer;}
.gprev2{left:0;}
.gnext2{background-position:100% 0;right:0;}
.app-videos{margin-top:15px;}
.video-holder{position:relative;display:block;height:0;padding:0;overflow:hidden;padding-bottom:56.25%;}
.video-holder iframe{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0;}
.all-vid{height:30px;margin:5px 0 0;}
.all-vid .v-sliding{display:inline-block;height:30px;float:right;padding:0 15px;background:#e9ebec;width:auto; text-align:center; line-height:30px;-webkit-border-radius:4px;border-radius:4px;color:#484848;font-size:0.9em;text-decoration:none;}
.all-vid .v-sliding:after{content:"";width:12px;height:7px;display:inline-block;margin-left:5px;background:url("ic_arrow2_g.svg") no-repeat;}
.all-vid .v-sliding:hover{text-decoration:underline;color:#484848;}
.all-vid .v-sliding.opened:after{-webkit-transform:scale(-1);transform:scale(-1);}
.app-download{margin-top:20px;}
.app-download .dtop{padding-bottom:10px;}
.app-download .heading{}
.app-download .dtitle{border-left:6px solid #003baf;padding-left:10px;color:#4CABD8;font-size:16px;font-weight:normal;line-height:22px;display:block;}
.down-line{padding:10px;font-size:0.9em;-webkit-border-radius:4px;border-radius:4px;background:#f5f5f5;margin:5px 0;}
.down-line + hr{display:none;}
.dlline{width:126px;float:left;}
.app-btn{background:url("downbtns.svg") no-repeat;height:66px;width:130px;display:block;text-decoration:none;}
.app-btn .btntext{text-transform:uppercase;font-size:16px;font-weight:bold;color:#fff;text-shadow:0 1px 1px #369016;padding:12px 0 0 11px;display:block;}
.app-btn .lcol, .app-btn .rcol{display:block;padding-top:5px;font-size:12px;color:#38680c;padding-left:11px;}
.app-btn .rcol{padding-left:15px;padding-right:11px;}
.dlline ul{padding-top:5px;text-align:center;}
.torrent-btn{background:url("downbtns2.svg") no-repeat;height:64px;width:134px;display:block;text-decoration:none;}
.torrent-btn .btntext{text-transform:uppercase;font-size:14px;font-weight:bold;color:#fff;text-shadow:0 1px 1px #369016;padding:6px 0 0 11px;display:block;line-height:15px;}
.torrent-btn .btntext b{display:block;font-size:16px;font-weight:bold;}
.torrent-btn .lcol, .torrent-btn .rcol{display:block;padding-top:0;font-size:12px;color:#38680c;padding-left:11px;}
.torrent-btn .rcol{padding-left:0px;padding-right:11px;width:70px;height:18px;overflow:hidden;text-align:right;}
.torrent-btn .rcol img{vertical-align:middle;}
.drline{margin-left:145px;padding-bottom:10px;height:60px;font-size:12px;}
.drline ul{width:100%;line-height:1.1;}
.drline .appdown-tags{margin-top:4px;}
.drline .appdown-tags li{display:inline-block;vertical-align:top;}
.drline .appdown-tags:after{background:-webkit-linear-gradient(left, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%);background:linear-gradient(to right, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 100%);}
.app-tag{font-weight:normal;color:#fff;padding:3px 6px;background:#4cabd8;-webkit-border-radius:3px;border-radius:3px;margin:1px 2px 1px 0;text-decoration:none;line-height:1;display:inline-block;}
.dpink{background:#ba74db;}
.dlgreen{background:#56bb8a;}
.dred{background:#e05f65;}
.dgreen{background:#003baf;}
.dyel{background:#e6912c;color:#6d481c;}
.dorange{background:#fd6001;}
.dcyan{background:#01fde2;color:#011d78}
.ddred{background:#850107;}
.dzel{background:#557801;}
.dblue{background:#011d78;}
.app-tag:hover{color:#fff;}
.app-tag.dyel:hover{color:#6d481c}
.app-tag.dcyan:hover{color:#011d78}
.drl-b{padding:10px 0;}
.drline .smtitle{color:#003baf;display:block;}
.drline .n-sliding{background:url(top-android.org/static/img/arrow8.png") no-repeat 100% 50%;padding-right:15px;color:#484848;text-decoration:none;}
.drline .n-sliding:hover{color:#5ea61d;}
.file-desc{position:relative;}
.file-desc .tor-full{display:none;position:absolute;top:0;left:0;overflow:hidden}
.trlist{border-bottom:1px dashed #003baf;color:#484848;text-decoration:none;padding-bottom:2px;font-size:11px;}
.trlist:hover{border-bottom:1px dashed #3ea1d2;color:#484848;}
.greyround{background:#f8f8f9;-webkit-border-radius:8px;border-radius:8px;margin-top:25px;padding:15px;}
.greyround .dtitle{font-size:1.5em;display:block;margin-bottom:10px;padding-left:10px;}
.borderround{-webkit-border-radius:8px;border-radius:8px;margin-top:25px;padding:15px;border:1px solid #e9ebec;}
.borderround .dtitle{font-size:1.5em;display:block;margin-bottom:10px;padding-left:10px;}
.mainspoil{margin-top:5px;}
.spoiler-wrap,
.spoiler-wrapper{background:#f8f8f8;border:1px solid #e0e0e0;position:relative;}
.spoiler-wrap:after,
.spoiler-wrapper:after{position:absolute;left:-1px;top:-1px;bottom:-1px;width:6px;background-color:#003baf;content:"";}
.spoiler-body{padding:12px 20px;border-top:1px solid #e0e0e0;display:none;}
.spoiler-head,
.spoiler-wrapper > a{padding:6px 12px 6px 35px;cursor:pointer;font-weight:bold;position:relative;display:block;}
.spoiler-wrapper > a{color:inherit;}
.folded:after, .unfolded:after,
.spoiler-wrapper a:after, .spoiler-open a:after{background:url("spoiler.svg") no-repeat;position:absolute;left:18px;top:50%;margin-top:-6px;content:"";width:12px;height:12px;}
.unfolded:after,
.spoiler-open a:after{background-position:0 -12px;}
.spoiler-open .spoiler-body{display:block;}
.related{padding-top:15px;display:none;}
.related li{width:50%;float:left;text-align:center;font-size:1.1em;}
.related li img{width:64px;height:64px;-webkit-border-radius:5px;border-radius:5px;}
.nonebg{background:none;}
.popup .dcont3{padding:15px 20px;}
.tlist-table{width:100%;}
.tlist-table td{height:24px;padding:0 15px;}
.list-overflow{max-height:312px;overflow:auto;}
.list-overflow tr td{padding:2px 10px;width:auto;}
.list-overflow tr.odd td{background:#eee}
#vk_comments{display:block !important;margin-top:20px;}
.bcomments{padding-top:10px;}
.bcomments .heading{height:30px;padding:0 78px 0 45px;position:relative;}
.bcomments .heading .comava{padding:1px;border:1px solid #e9ebec;-webkit-border-radius:5px;border-radius:5px;display:block;position:absolute;left:0;top:0;}
.bcomments .heading .comava img{width:29px;height:29px;-webkit-border-radius:4px;border-radius:4px;}
.cominf{height:30px;float:left;width:100%;}
.cominf span{display:block;height:30px;color:#888;font-size:0;}
.cominf span a{color:#333;}
.cominf b{display:block;font-size:13px;line-height:1.3;}
.cominf time{font-size:12px;line-height:16px;height:16px;display:block;overflow:hidden;}
.bcomments .heading .rcol{float:none;position:absolute;top:0;right:-4px;}
.crate-plus, .crate-minus{height:18px;width:18px;vertical-align:middle;margin:0 4px;cursor:pointer;position:relative;font-size:0;-webkit-border-radius:3px;border-radius:3px;display:inline-block;}
.crate-plus{background-color:#4cabd8;}
.crate-minus{background-color:#e1e1e1;}
.crate-plus:before, .crate-minus:before{content:"";width:10px;height:2px;background-color:#fff;position:absolute;left:4px;top:8px;}
.crate-plus:after{content:"";width:2px;height:10px;background-color:#fff;position:absolute;left:8px;top:4px;}
.crate-num{color:#484848;text-decoration:none;line-height:18px;}
.crate-num:hover{color:#4cabd8;}
.bcomments .dcont{border-bottom:1px solid #e9ebec;padding:5px 0 0 0;margin-top:5px;}
.comtext{text-align:left;}
.comcntrl{padding:5px 0 10px 0;}
.comcntrl > div{display:none;}
.comcntrl a{color:#4cabd8;text-decoration:none;padding:5px 0;}
.comcntrl .addcom{padding-top:0 !important;}
.level-1{padding-left:0px;}
.level-2{padding-left:15px;}
.level-3{padding-left:30px;}
.level-4{padding-left:45px;}
.level-5{padding-left:60px;}
.level-6{padding-left:75px;}
.level-7{padding-left:90px;}
.cat-list{padding:10px 10px 45px 10px;background-color:#f5f5f5;margin-left:-10px;margin-right:-10px;}
.cat-list .dtitle{font-size:14px;display:block;padding-bottom:10px;font-weight:normal;line-height:22px;}
.cat-list-small { padding-bottom:0; }
@media(max-width:459px){.phone-sort .sort-wrapper{top:148px !important;}
}
.cat-list:after,
.cat-list:before{display:table;content:"";}
.cat-list:after{clear:both;}
.cat-phones{padding:15px 0 0 0;}
.cat-phones .heading{height:22px;border-bottom:2px solid #e9ebec;}
.finded{height:22px;display:block;padding:0 8px;line-height:22px;background:#45a6d4;-webkit-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;border-bottom:2px solid #ddd;float:left;color:#fff;}
.cat-ph-sort{background:url(top-android.org/static/img/arrow8.png") no-repeat 100% 50%;height:34px;line-height:34px;margin-right:10px;float:right;padding-right:15px;color:#484848;text-decoration:none;display:block;}
.cat-ph-sort:hover{color:#4cabd8;}
.sort-wrapper{position:absolute;top:86px;left:10px;right:10px;}
.app-sort .sort-wrapper,
.phone-sort .sort-wrapper{top:126px;}
.search-sort .sort-wrapper { top:50px; }
.sort-wrapper .f_select{border-color:#003baf !important;-webkit-box-shadow:none;box-shadow:none;}
.sort-wrapper > span{display:none;}
.cat-phones ul{padding-top:15px;}
.cat-phones li{float:left;width:50%;min-height:0!important;margin-bottom:5px !important;}
.cat-phones li a{padding:10px;display:block;float:left;width:100%;text-align:center;color:#484848;text-decoration:none;}
.cat-phones li a b{font-weight:normal;line-height:20px;height:20px;overflow:hidden;white-space:nowrap;}
.cat-phones li a img{margin-bottom:5px;}
.cat-phones li a:hover{background:#f5f6f7;border-radius:6px;-webkit-border-radius:6px;box-shadow:inset 0 1px 2px #dadada;}
.cat-phones li b{display:block;height:36px;line-height:18px;overflow:hidden;}
.page-phone{margin-top:20px;position:relative;}
.page-phone .info-lside{float:none;}
.phone-img{width:75px;text-align:center;display:table-cell;height:75px;vertical-align:middle;position:relative;-webkit-border-radius:3px;border-radius:3px;overflow:hidden;}
.phone-img img{width:auto;height:auto;max-width:75px;max-height:75px;}
.phone-img:after{background-color:rgba(0,0,0,.04);content:"";position:absolute;left:0;top:0;right:0;bottom:0;-webkit-border-radius:3px;border-radius:3px;}
.page-phone .info-lside .tovk{display:none;}
.page-phone .info-lside ul{margin-top:5px;border-top:1px solid #e9e9e9;}
.page-phone .info-lside ul + ul{margin-top:0;border-top:none;}
.page-phone .info-lside li{padding:4px 1px;border-bottom:1px solid #e9e9e9;}
.page-phone .show-all{display:block;padding:8px 10px;color:#484848;text-decoration:none;text-align:center;border-bottom:1px solid #e9e9e9;}
.page-phone .show-all:after{content:"";width:12px;height:7px;display:inline-block;margin-left:5px;background:url("ic_arrow2_g.svg") no-repeat;}
.page-phone .show-all.opened:after{-webkit-transform:scale(-1);transform:scale(-1);}
.page-phone .show-all:hover,
.page-phone .show-all.opened{background:#e9e9e9;}
.page-phone .show-all:hover{color:#484848;text-decoration:none;}
.page-phone .info-rside{}
.page-phone .info-rside .dtitle{display:block;font-size:18px;font-weight:normal;color:#5ea61d;position:absolute;left:80px;top:0;height:64px;}
.page-phone .info-rside .dtitle span{display:table-cell;vertical-align:middle;height:64px;}
.page-phone .info-rside .phone-title{left:85px;}
.page-phone .info-rside .phone-title span{height:75px;}
.page-phone .info-rside .dcont{padding:15px 0 0 0;}
.page-phone .info-rside #sliding-e{padding:10px 0 0 0;}
.text-all{text-align:right;}
.text-all .n-sliding{background:url(top-android.org/static/img/arrow8.png") no-repeat 100% 50%;padding-right:15px;color:#7c7c7c;text-decoration:none;}
.text-all .n-sliding:hover{color:#61a820;}
.phone-slider{padding:20px 5px 8px 5px;position:relative;max-width:474px;margin:0 auto;}
.phone-slider .galwrap{overflow:hidden;}
.phone-gal li{height:177px;width:100px;border:1px solid #e9ebec;margin-left:12px;padding:1px;}
.phone-gal li a{opacity:0.8;filter:alpha(opacity=80);}
.phone-gal li a:hover{opacity:1;filter:alpha(opacity=100);}
.phone-gal li img{height:177px;width:100px;}
.gprev, .gnext{position:absolute;width:13px;height:19px;background:url(top-android.org/static/img/slarrow.png") no-repeat;top:100px;display:block;cursor:pointer;}
.gprev{left:-2%;}
.gnext{background-position:100% 0;right:-2%;}
.big-ph-title{display:block;padding:15px 0 0 0;font-size:18px;}
.userpage{padding:15px 0 10px;}
.userpage .dtitle{font-size:18px;display:block;font-weight:normal;}
.userpage .dcont{padding:10px 0 0;}
.userava{float:left;}
.userava img{width:50px;height:50px;border-radius:4px;-webkit-border-radius:4px;}
.userp-inf{margin-left:62px;}
.userp-inf p{padding:0 0 5px 0;border-bottom:1px solid #e9ebec;margin-bottom:5px;}
.userp-inf p span{display:block;line-height:22px;}
.userp-inf p img{vertical-align:middle;}
.userp-inf > br{display:none;}
.userbtns{margin-top:10px;display:table;width:100%;}
.userbtns span{display:table-cell;}
.userbtns span + span{padding-left:5px;}
.userbtns a{display:inline-block;padding:6px 10px;margin-bottom:0;font-size:13px;font-weight:normal;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;-webkit-border-radius:4px;border-radius:4px;width:100%;display:block;}
.userbtns .btnred{text-transform:uppercase;}
.p-on-off{padding:1px 3px;border-radius:3px;-webkit-border-radius:3px;font-weight:normal;}
.user-p-tares{font-size:0.9em;color:#767676;border-left:3px solid #6ab329;padding-left:10px;margin-left:10px;}
#profform ul{margin-left:90px;}
#profform li{padding:1px 0;}
#profform li a{height:25px;background:#f5f6f7 url(top-android.org/static/img/arrow2.png") no-repeat 92% -34px;padding:0 10px;display:block;text-decoration:none;color:#484848;line-height:25px;border-radius:4px;-webkit-border-radius:4px;}
#profform li a:hover{background-position:92% -3px;color:#484848;}
input[type=radio], input[type=checkbox]{vertical-align:text-top;}
.f_select, .f_input, .f_textarea, .contact-form input[type="text"], .contact-form input[type="password"],
.contact-form select,
.contact-form textarea{display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:#555;background-color:#fff;background-image:none;border:1px solid #ccc;-webkit-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, .075);-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.f_select,
.contact-form select{-webkit-box-shadow:0 2px 1px rgba(0, 0, 0, .1);box-shadow:0 2px 1px rgba(0, 0, 0, .1);background:#fff url("ic_arrow2_g.svg") no-repeat 98% 50%;}
@media(min-width:600px){.f_select,
.contact-form select{background-position:99% 50%;}
}
.f_select::-ms-expand,
.f_input::-ms-expand,
.f_textarea::-ms-expand{background-color:transparent;border:0;}
.f_textarea{height:auto;max-height:95px;}
.f_input[type="search"]{-webkit-appearance:none;}
.f_select:focus, .f_input:focus, .f_textarea:focus, .contact-form input[type="text"]:focus, .contact-form input[type="password"]:focus,
.contact-form select:focus,
.contact-form textarea:focus{border-color:#66afe9;outline:0;}
.baseform{padding:10px 0 0 0;}
.baseform .heading{padding-bottom:5px;}
.baseform .dtitle{font-size:18px;}
.basetable{width:100%;}
.basetable td{padding:10px 0;}
.submitbox{padding:10px 0;}
.submitbox .fbutton{margin:0 5px;width:120px;}
.fbutton{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:normal;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;-webkit-border-radius:4px;border-radius:4px;}
.xrating{height:11px;width:65px;display:block;background:url(top-android.org/static/img/xrate.png") repeat-x;}
.xrating b{display:block;background:url(top-android.org/static/img/xrate.png") repeat-x 0 -11px;padding-top:11px;overflow:hidden;height:0px;}
.rn-0 b, b.rn-0{width:0%;}.rn-1 b, b.rn-1{width:20%;}.rn-2 b, b.rn-2{width:40%;}.rn-3 b, b.rn-3{width:60%;}.rn-4 b, b.rn-4{width:80%;}.rn-5 b, b.rn-5{width:100%;}
.rating{height:17px;width:100px;display:block;background:url(top-android.org/static/img/rate.png") repeat-x;position:relative;}
.current-rating{display:block;background:url(top-android.org/static/img/rate.png") repeat-x 0 -17px;padding-top:17px;overflow:hidden;height:0px;position:absolute;}
.rating span{text-indent:-90000px;padding:0;margin:0;float:left;display:block;}
.rating span a{display:block;width:17px;height:20px;text-decoration:none;text-indent:-9000px;z-index:17;position:absolute;padding:0;}
.rating .r1-unit{left:0;}
.rating .r1-unit:hover{width:20px;}
.rating .r2-unit{left:20px;}
.rating .r2-unit:hover{width:40px;}
.rating .r3-unit{left:40px;}
.rating .r3-unit:hover{width:60px;}
.rating .r4-unit{left:60px;}
.rating .r4-unit:hover{width:80px;}
.rating .r5-unit{left:80px;}
.rating .r5-unit:hover{width:100px;}
.rating span a:hover{background:url(top-android.org/static/img/rate.png") repeat-x 0 -17px;z-index:2;left:0;}
.text-rating{padding:0;float:left;margin-right:5px;}
.textrate{font-size:20px;display:block;color:#003baf;line-height:18px;position:absolute;left:0;top:25px;}
.rvotes{width:100px;text-align:center;display:block;padding-top:5px;}
#user-count-title{position:relative;}
#user-count-title .colorgrey{padding-bottom:2px;}
#user-count-title .votes{position:absolute;left:148px;bottom:0px;color:#888;font-size:13px;}
#user-count-title #user_rating{position:relative;top:-1px;}
#user-count-title .textrate{position:relative;top:-1px;}
.rating-container{height:17px;width:160px !important;margin-left:25px;display:block;}
.app-full .rating{margin-left:36px;margin-top:-2px;}
.button-cancel{display:none;}
.rating-title{margin-bottom:2px;font-size:13px;}
.rating-title + .text-rating .textrate{top:22px;}
.rating-user-container{margin-left:15px !important;}
#tiptip_holder{display:none;}
#gotop{display:none;}
#footer{border-top:1px solid #76bd35;margin-top:20px;}
#footer .lcol{padding:15px 0;float:none;}
#footer .wrapp{padding-top:0px;}
#footer .copy{margin-bottom:5px;}
.footmenu:after,
.footmenu:before{display:table;content:"";}
.footmenu:after{clear:both;}
.footmenu a{display:block;float:left;color:#484848;height:28px;line-height:28px;text-decoration:none;margin-right:15px;}
.footmenu b{font-weight:normal;display:block;float:left;padding-left:10px;background:url("ic_arrow_g.svg") no-repeat 0 50%;height:26px;}
.hits{display:none;}
.input-horizontal{margin-top:8px;}
.input-horizontal label{display:block;margin-bottom:5px;font-weight:bold;}
.contact-form table{width:100%;margin-bottom:10px;}
.contact-form table td, .contact-form table tr{display:block;}
.contact-form table td + td{padding:0 10px 10px 0;}
.contact-form br{display:none;}
.contact-form #id_captcha_1{float:left;margin-right:20px}
.contact-form .errorlist{list-style:none;color:red}
.registration-form .errorlist{list-style:none;color:red}
.contact-form input[type="submit"]{display:block;width:100%;padding:6px 12px;}
#regform_popup .inputline2 input{float:left}
#regform_popup .inputline2 .tos-control input{float:none}
#regform_popup label.error{float:right;color:red;line-height:12px;width:180px}
#login-form table{width:100%}
#login-form td{width:100%}
#login-form td .errorlist{color:red}
#login-form label.error, #register-form label.error, #recovery-form label.error{margin:5px 0 0 0 !important; padding:0 !important; color:red; display:block;}
#register-form label.error{float:left;width:330px;padding-bottom:25px;}
#register-form label.error, .contact-form label.error{float:left;width:330px;padding-bottom:25px;}
#login_popup_form label.error, #reset_popup_form label.error{color:red}
#reset_popup_form input[type=text]{float:left;margin-right:10px}
.select-wrapper{position:relative}
.select-wrapper select{margin:0}
.select-wrapper .cusel, .phone-model .cusel{float:none;margin:0}
.phone-model .cusel{margin-top:10px}
.spoiler-wrapper a{cursor:pointer}
.comments-container,
.baseform.addcom{position:relative}
.baseform.addcom .heading .dtitle{margin:0 0 -5px;display:block;font-size:16px;}
.down-text{padding:5px 0 0 !important;line-height:20px;}
.down-text .dshow{display:block;font-weight:bold;}
.down-text:hover .dshow{color:#4cabd8;text-decoration:none;}
.down-text .dt-2{cursor:pointer;}
.devmark2,
.ui-tooltip{display:none !important;}
.free-app{display:none;}
.colorgrey{color:#888;}
.allformats{display:block;font-size:.8em;text-align:center;}
.allformats a{color:#888;text-decoration:none;}
.allformats a:hover{color:#4e4e4e;text-decoration:underline;}
.badvert{display:none;}
.regadvert li:before{content:"";width:26px;height:26px;position:absolute;top:50%;margin-top:-13px;left:0;background:url("badvert.svg") no-repeat;}
.regadvert li{margin:8px 0;padding-left:35px;position:relative;}
.regadvert{background:#f4f4f4;padding:10px;display:block;margin-top:20px;}
.regadvert .adv-icon-1:before{background-position:0 0;}
.regadvert .adv-icon-2:before{background-position:0 -26px;}
.regadvert .adv-icon-3:before{background-position:0 -52px;}
.regadvert .heading{background:none;padding-bottom:5px;}
#panel-device{padding:10px;border:1px solid #003baf;margin-top:20px;-webkit-border-radius:3px;border-radius:3px;}
.static{padding:10px 0;}
.static > .dtitle{font-size:18px;padding-bottom:5px;border-bottom:2px solid #003baf;color:#333;}
.static .dcont{padding-top:15px;}
.text-static img{max-width:100%;}
.text-static p{margin-bottom:15px;}
.text-static p > span > br,
.text-static p > span > span br{display:none;}
.text-static ul,
.text-static ol{margin-top:0;margin-bottom:15px;padding-left:15px;margin-left:15px;}
.text-static ul ul,
.text-static ol ul,
.text-static ul ol,
.text-static ol ol{margin-bottom:0;}
.text-static blockquote{margin-bottom:15px;padding-left:30px;font-size:18px;background:url("quote.svg") no-repeat 0 5px;}
.text-static .incut,
.text-static .comment{padding:6px 12px;background:#f8f8f8;border-left:5px solid #003baf;margin-bottom:15px;}
.text-static .comment{border-left-color:#aaa;}
.text-static address,
.text-static .layer{padding:6px 12px;border:1px dashed #ccc;margin-bottom:15px;}
.text-static address{border-color:#66afe9;}
.text-static h1,
.text-static h2,
.text-static h3{margin-top:10px;margin-bottom:15px;}
.text-static h4,
.text-static h5,
.text-static h6{margin-bottom:15px;}
.text-static nobr{padding:2px 6px;vertical-align:baseline;display:inline;background-color:#fcf8e3;}
.text-static [name="anchor"]:before{content:"";width:12px;height:12px;display:inline-block;background:url("ic_anchor.svg") no-repeat;margin-right:6px;}
.text-static .before_list{margin-bottom:5px;}
.text-staticcaption{padding-top:8px;padding-bottom:8px;color:#777;text-align:left;}
.text-static table{width:100%;max-width:100%;margin-bottom:15px;}
.text-static table > thead > tr > th,
.text-static table > tbody > tr > th,
.text-static table > tfoot > tr > th,
.text-static table > thead > tr > td,
.text-static table > tbody > tr > td,
.text-static table > tfoot > tr > td{padding:8px;line-height:1.42857143;vertical-align:top;

